<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="../css/layout.css">
</head>

<body>
	<main class="curriculum">
		<section class="curriculum_personalInfo">
			<div class="identity">
				<img  src="../images/Marco.png" alt="">
				<p class="identity__name">Marco Antonio Fuentes Alvarez</p>
				<h1 class="identity__ocupation">Desarrollador web</h1>   
				
			</div>
			<div class="skills">
				<hr>
				<h2 class="skills__tittle">Software skills</h2>
				<hr>
				<div class="skills__box">
					<p>Html5</p>
					<p>90%</p>
					<div class="skills__fullbar">
						<div class="skills__levelbar" style="width:90%;"></div>
					</div>
				</div>
				<div class="skills__box">
					<p>Css</p>
					<p>80%</p>
					<div class="skills__fullbar">
						<div class="skills__levelbar" style="width:70%;"></div>
					</div>
				</div>
				<div class="skills__box">
					<p>Js</p>
					<p>80%</p>
					<div class="skills__fullbar">
						<div class="skills__levelbar" style="width:70%;"></div>
					</div>
				</div>
				<div class="skills__box">
					<p>git</p>
					<p>90%</p>
					<div class="skills__fullbar">
						<div class="skills__levelbar" style="width:90%;"></div>
					</div>
				</div>
			</div>
			<div class="socialNetworks">
				<i class="fa fa-facebook-official" aria-hidden="true"></i>
				<i class="fa fa-github" aria-hidden="true"></i>
			</div>
		</section> 
		<section class="curriculum_profesionalinfo">
			<article class="experience">
				<h2 class="head">
					Experience
				</h2>
				<hr>
				<h3 class="subhead">
					Técnico Programador (2 años) 
				</h3>
			
				<div class="experience__text">
			  		<p>
					Empresa: Bourns de México. Giro: Manufactura 
					</p>
					<p>
					-Encargado del Desarrollo de software de la planta y algunos programas de otras plantas extranjeras.
				 	</p>
				 	<p>
					-Dar soporte en los diferentes sistemas de la empresa:
				 	</p>
				  	<p>
					-Entrenar a los usuarios finales de los sistemas.
				 	</p>
					<p>
					-Realizar documentación necesaria que necesita la empresa para autorizar los procesos del sistema.
				 	</p>
				  	<p>
					-Realizar Auditorias de Calidad de los procesos internos de la planta.
					 </p>
				</div>
			</article>
			<article class="education">
				<h2 class="head">
					Educación
					
				</h2>
				<hr>
				<div class="education__text">
					<p>
			   		-Titulado en la carrera de Ingenieria en Sistemas Computacionales. (2017)
					</p>
				</div>
			</article>
			<section class="abilities">
				<h2 class="head">
					Abilities
				</h2>
				<hr>
				<div class="abilities_box">
					<i class="fa fa-check-square-o" aria-hidden="true"></i>
					<p class="">Ingles 80% hablado y escrito</p>
				</div>
				<div class="abilities_box">
					<i class="fa fa-check-square-o" aria-hidden="true"></i>
					<p class="">Lenguajes de Programación: .NET(C#), Python, Perl, Javascript. </p>

				</div>
				<div class="abilities_box">
					<i class="fa fa-check-square-o" aria-hidden="true"></i>
					<p class="">Bases de datos:relacionales(SQL, Mysql).</p>
				</div>
				<div class="abilities_box">
					<i class="fa fa-check-square-o" aria-hidden="true"></i>
					<p class="">Frameworks:Node.js,Django.</p>
				</div>
				<div class="abilities_box">
						<i class="fa fa-check-square-o" aria-hidden="true"></i>
						<p class="">Buenas Prácticas:Identación de Código, Comentar el código, git, refactorización de código.</p>
				</div>
				 
			</section>
		</section> 
	</main>
	  
	<script src="https://use.fontawesome.com/934197e885.js"></script>
</body>
</html>